nav#mainMenu li {
    display: inline;
}
nav#mainMenu {
    background-color: darkgray;
}

nav#mainMenu ul {
    margin-left: 80%;
}

h1 {
	background-image: url(images/header-background.png);
	background-repeat: repeat;
}
nav#secondaryMenu li {
	display: inline;
}
nav#secondaryMenu ul {
	margin-left: 20%;
}
nav#secondaryMenu {
	background-color: gray;
}

article div img {
	display: block;
	margin:auto auto;
	border: 1px solid black;
	padding: 10px;
	margin-top: 30px;
}

article div h2{
	text-align: center;
}
section {
	border: 3px solid black;
	margin-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
}
h3 {
    background-image: url(images/header-background.png);
    color: blue;
}
.actions {
	background-color: #00FFFF;
}
.actions li{
	display: inline;
}
.actionEdit {
	background-image: url(images/edit.png);
}
.actionFlag {
	background-image: url(images/flag.png);
}
footer {
	margin-left: 25%;
	margin-right: 25%;
	background-color: #00FFFF;
}
footer p {
	color: 	blue;
}